body{
    background: url(Background.jpg);
    background-size: cover;
    background-attachment: fixed;
    height:max-content;
}
img{
    margin:auto;
    display:block;
}
table,th,td{
    margin-left:auto;
    Margin-right:auto;
    border-spacing: 10px;
}
th,td{
    background-color:rgba(0, 0, 0, 0.432);
    border: 10px solid transparent;
    color: white;
    text-align:center;
    border-radius: 10px;

}
h3{
    Color: White;
    text-align: Center;
